<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
     <!-- Meta Description -->
     <meta name="description"
     content="Descubre las modalidades de estudio que ofrecemos y registrate facilmente en uno de nuestros cursos de inglés conversacional">

 <!-- Other Meta Tags -->
 <meta name="keywords"
     content="inglés para empresas, lecciones semi-personalizadas, lecciones en grupos pequeños, lecciones grupales de inglés, clases de ingles, aprende ingles, curso de ingles online, ingles basico, hablar en inglés, estudiar ingles, curso de inglés,idiomas ocw, one culture world, OneCulture World, examen de inglés gratis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos OCW</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="landing.css"> -->
    <link rel="stylesheet" href="/css/cursos.css">
    <link rel="stylesheet" href="/build/css/intlTelInput.min.css">
    <script src="https://kit.fontawesome.com/c14517e724.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="/pics/favicon2.png  " type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@800;900&family=Oswald:wght@600;700&display=swap" rel="stylesheet">
</head>

<body style="background-color: #f4f8f8;">

  <%- include('partials/header') %>
  <%- include('partials/menuCursos') %>

    <div class="parallax">
        <svg class="wave-separator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 Q 50 100 100 0 L 100 100 L 0 100" fill="#f4f8f8"></path>
        </svg>
    </div>
    
    <div class="form-border">
        <form id="registration-form" action="">
        <div class="progressBarContainer">
            <div style="height: 10px;" id="progress-bar">
                <div class="progress-section" id="progress1"></div>
                <div class="progress-section" id="progress2"></div>
                <div class="progress-section" id="progress3"></div>
                <div class="progress-section" id="progress4"></div>
            </div>
        </div>
        <!-- Section 1: Personal Information -->
        <div id="section1" class="form-container">
            <h6 class="headline" id="registrate-ya"> Registrate y Reserva tu cupo</h6>
            <div class="form-infoContainer">
                <!-- Name input -->
                <div class="info-box">
                    <label class="info-label">Nombre<span class="asterisk">*</span></label>
                    <div class="input-container">
                        <input id="firstName" name="firstName" type="text" placeholder="Nombre" required>
                    </div>
                </div>
                <!-- Last Name input -->
                <div class="info-box">
                    <label class="info-label">Apellidos<span class="asterisk">*</span></label>
                    <div class="input-container">
                        <input id="lastName" name="lastName" type="text" placeholder="Apellidos" required>
                    </div>
                </div>
                <!-- Email input -->
                <div class="info-box">
                    <label class="info-label">Email<span class="asterisk">*</span></label>
                    <div class="input-container">
                        <input id="email" name="email" type="text" placeholder="Email" required>
                    </div>
                </div>
                <!-- Phone Number input -->
                <div class="info-box">
                    <label class="info-label">Teléfono<span class="asterisk">*</span></label>
                    <div class="input-container">
                        <input id="phone" name="phoneNumber" type="tel" placeholder="Whatsapp" required>
                    </div>
                </div>
                <!-- Age Select -->
                <div class="info-box">
                    <label class="info-label">Edad<span class="asterisk">*</span></label>
                    <div class="input-container ageBox">
                        <select id="edad" name="edad" required>
                            <option value="Menor de 16" selected >Selecciona tu rango de edad</option>
                            <option value="16-25">Entre 16 y 25 años</option>
                            <option value="26-35">Entre 26 y 35 años</option>
                            <option value="35-45">Entre 35 y 45 años</option>
                            <option value="45-70">Más de 45 años</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="button-next" id="next1"><i class="fa-solid fa-chevron-right"
                    style="color: #17315e;"></i></button>
        </div>

        <!-- Section 2: Mode Selection -->
        <div id="section2" class="hidden">
            <div class="navigation-buttons">
                <button class="button-back" type="button" id="back1"><i class="fa-solid fa-chevron-left"
                    style="color: #17315e;"></i></button>
                <button class="button-next" type="button" id="next2"><i class="fa-solid fa-chevron-right"
                    style="color: #17315e;"></i></button>
            </div>
            <h3>Modalidades</h3>
            <div id="mode-options">
                <div class="mode-option" id="private">
                    <img src="/svg/one-on-one.svg" alt="Private Class">
                    <h3 class="nombre-modalidad">Clases privadas</h3>
                </div>
                <div class="mode-option" id="semi-private">
                    <img src="/svg/semi-private.svg" alt="Semi-Private Class">
                    <h3 class="nombre-modalidad">Clases semi-privadas</h3>
                </div>
                 <div class="mode-option" id="empresas">
                    <img src="/svg/business-english.svg" alt="empresas">
                    <h3 class="nombre-modalidad">Inglés para empresas</h3>
                </div> 
            </div>
        </div>

            <!-- Section 3 for Private Classes -->
            <div id="section3-private" class="hidden">
                <h3>Clases Privadas</h3>
                <p>Elige 2, 3 o 5 dias de clase</p>
                <div class="navigation-buttons">
                  <button class="button-back" type="button" id="back2-private"><i class="fa-solid fa-chevron-left"
                    style="color: #17315e;"></i></button>
                  <button class="button-next" type="button" id="next3-private"><i class="fa-solid fa-chevron-right"
                    style="color: #17315e;"></i></button>
                </div>
                <!-- Modal Structure -->
                <div id="modal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="modal-time-options" class="modal-time-options">
                      <!-- Time slots will be injected here -->
                    </div>
                  </div>
                </div>
  
                <div class="schedule-selection">
                  <div class="time-wrapper">
                    <button type="button" class="weekday" id="Mon">Lunes</button>
                    <div id="time-Mon"></div>
                  </div>
                  <div class="time-wrapper">
                    <button type="button" class="weekday" id="Tue">Martes</button>
                    <div id="time-Tue"></div>
                  </div>
                  <div class="time-wrapper">
                    <button type="button" class="weekday" id="Wed">Miércoles</button>
                    <div id="time-Wed"></div>
                  </div>
                  <div class="time-wrapper">
                    <button type="button" class="weekday" id="Thu">Jueves</button>
                    <div id="time-Thu"></div>
                  </div>
                  <div class="time-wrapper">
                    <button type="button" class="weekday" id="Fri">Viernes</button>
                    <div id="time-Fri"></div>
                  </div>
                </div>
              </div>


        <!-- Section 3 for Semi-Private Classes -->
        <div id="section3-semi-private" class="hidden">
            <h3>Clases Semi-Personalizadas</h3>
            <p>Elige intensidad y horario</p>
            <div class="navigation-buttons">
                <button class="button-back" type="button" id="back2-semi-private"><i class="fa-solid fa-chevron-left"
                    style="color: #17315e;"></i></button>
                <button class="button-next" type="button" id="next3-semi-private"><i class="fa-solid fa-chevron-right"
                    style="color: #17315e;"></i></button>
            </div>
            <div style="margin: auto;display: flex;justify-content: center;" class="intensidad-semi-private">
            <button type="button" class="intensity" id="twice">2 clases semanales</button>
            <button type="button" class="intensity" id="thrice">3 clases semanales</button>
        </div>

            <div id="time-semi-private">

            </div>
        </div>

<!-- Section 3 for Empresas -->
<div id="section3-empresas" class="hidden">
    <h3>Inglés para Empresas</h3>
    <div class="info-empresa">
        <label for="employee-count">¿Cuál es el nombre de la empresa?</label>
        <input id="companyName" name="companyName" type="text" placeholder="Nombre de la Empresa" required>   
    <label for="employee-count">¿Cuántos empleados tiene tu empresa?</label>
    <select id="employee-count">
        <option value="sin-seleccionar" selected disabled>Selecciona el número de empleados</option>
        <option value="less-15">Menos de 15 personas</option>
        <option value="15-50">Entre 15 y 50 personas</option>
        <option value="51-200">Entre 50 y 200 personas</option>
        <option value="200-500">Entre 200 y 500 personas</option>
        <option value="more-500">Más de 500 personas</option>
    </select></div>
    <div class="navigation-buttons">
        <button class="button-back" type="button" id="back2-empresas"><i class="fa-solid fa-chevron-left" style="color: #17315e;"></i></button>
        <button class="button-next" type="button" id="next3-empresas"><i class="fa-solid fa-chevron-right" style="color: #17315e;"></i></button>
    </div>
</div>

        <!-- Section 4: Pricing -->
        <div id="section4" class="hidden">
            <h3 id="form-final-price">Valor de la mensualidad</h3>
            <p id="price"></p>

            <a href="#" id="pay-button" class="hidden">Registrarse</a>
            <button class="button-back" type="button" id="back3"><i class="fa-solid fa-chevron-left"
                style="color: #17315e;"></i></button>
        </div>

        <!-- Section 4 for Empresas -->
<div id="section4-empresas" class="hidden">
    
    <div class="enviar-solicitud-empresa">
    <h3>Solicita tu descuento</h3>
    <p>Una vez envíes este formulario, nos pondremos en contacto contigo para brindarte información sobre el descuento especial que tenemos.</p>
    <button type="button" id="send-form-empresas">Enviar</button></div>
    <button class="button-back" type="button" id="back3-empresas"><i class="fa-solid fa-chevron-left" style="color: #17315e;"></i></button>
</div>

    </form></div>
<section class="course-description-section1">
    <div id="private-lessons" class="course-description-card">
        <div class="course-description-items">
          <h2>Clases privadas</h2>
          <div class="course-feature">
            <i class="fas fa-clock"></i>
            <span>Clases en vivo de 55 minutos con docentes certificados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-laptop"></i>
            <span>Acceso a plataforma educativa con actividades interactivas. Test de nivelación gratuito.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-calendar-alt"></i>
            <span>Horarios flexibles con clases en vivo de Lunes a Viernes de 6:00 a.m a 9:00 p.m.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-user-friends"></i>
            <span>Acompañamiento uno a uno basado en tus objetivos.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-dollar-sign"></i>
            <span>Sin pagos adicionales ni clausulas de permanencia.</span>
          </div>
        </div>
        <div class="course-pricing">
          <% Object.keys(pricing.privateLessons).forEach(plan => {
              const priceInfo = pricing.privateLessons[plan];
          %>
              <div class="price-option">
                  <span><%= plan.replace(/_/g, ' ') %></span>
                  <% if (priceInfo.discountPrice) { %>
                      <span class="price original-price" style="text-decoration: line-through; color: red;">
                          $<%= priceInfo.originalPrice %>
                      </span>
                      <span class="price discount-price">
                          $<%= priceInfo.discountPrice %>
                      </span>
                  <% } else { %>
                      <span class="price">$<%= priceInfo.originalPrice %></span>
                  <% } %>
              </div>
          <% }); %>
      </div>

      </div>
    
      <div id="semi-personalized" class="course-description-card">
        <div class="course-description-items">
          <h2>Clases Semi-privadas</h2>
          <div class="course-feature">
            <i class="fas fa-clock"></i>
            <span>Clases en vivo de 55 minutos con docentes certificados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-laptop"></i>
            <span>Acceso a plataforma educativa con actividades interactivas. Test de nivelación gratuito.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-calendar-alt"></i>
            <span>Horarios flexibles con clases en vivo de 6:00 a.m a 9:00 p.m. los Lunes, Miercoles, y Viernes, o los Martes y los Jueves.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-user-friends"></i>
            <span>Acompañamiento semi-personalizada para ayudarte a alcanzar tus objectivos comunicativos en corto tiempo.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-dollar-sign"></i>
            <span>Sin pagos adicionales ni clausulas de permanencia.</span>
          </div>
        </div>
        <div class="course-pricing">
            <% Object.keys(pricing.semiPrivateLessons).forEach(plan => {
                const priceInfo = pricing.semiPrivateLessons[plan];
            %>
                <div class="price-option">
                    <span><%= plan.replace(/_/g, ' ') %></span>
                    <% if (priceInfo.discountPrice) { %>
                        <span class="price original-price" style="text-decoration: line-through; color: red;">
                            $<%= priceInfo.originalPrice %>
                        </span>
                        <span class="price discount-price">
                            $<%= priceInfo.discountPrice %>
                        </span>
                    <% } else { %>
                        <span class="price">$<%= priceInfo.originalPrice %></span>
                    <% } %>
                </div>
            <% }); %>
        </div>

      </div>

      <div id="english-for-business" class="course-description-card">
        <div class="course-description-items">
          <h2>Inglés para empresas</h2>
          <div class="course-feature">
            <i class="fas fa-clock"></i>
            <span>Clases en vivo de 55 minutos con docentes certificados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-laptop"></i>
            <span>Acceso a plataforma educativa con actividades interactivas. Test de nivelación gratuito para sus empleados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-calendar-alt"></i>
            <span>Horarios flexibles con clases en vivo de Lunes a Viernes de 6:00 a.m a 9:00 p.m.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-user-friends"></i>
            <span>Máximo 8 estudiantes por grupo conversacional. Todos del mismo nivel.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-dollar-sign"></i>
            <span>Sin pagos adicionales ni clausulas de permanencia.</span>
          </div>
        </div>
        <div class="course-pricing">
          <div class="price-option"><a href="#registration-form">
            <span>Completa el formulario</span><br>
            <span style="font-family: 'Oswald', sans-serif;color:#17315e" class="price">OBTEN TU DESCUENTO</span></a>
          </div>
        </div>
      </div>
      <svg class="wave-separator-cursos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 Q 50 100 100 0 L 100 100 L 0 100" fill="#0e124d"></path>
    </svg>
    </section>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
    <script src="/js/form.js"></script>
    <script src="./build/js/intlTelInput.min.js"></script>
    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            initialCountry: "co"
        });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Check if the URL contains a hash
    if(window.location.hash) {
        // Scroll to the element with the ID from the URL hash
        const section = document.querySelector(window.location.hash);
        if(section) {
            section.scrollIntoView({ behavior: 'smooth' });
        }
    }
});
</script>
</body>

</html>