<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- Meta Description -->
    <meta
      name="description"
      content="Descubre las modalidades de estudio que ofrecemos y registrate facilmente en uno de nuestros cursos de inglés conversacional"
    />

    <!-- Other Meta Tags -->
    <meta
      name="keywords"
      content="inglés para empresas, lecciones semi-personalizadas, lecciones en grupos pequeños, lecciones grupales de inglés, clases de ingles, aprende ingles, curso de ingles online, ingles basico, hablar en inglés, estudiar ingles, curso de inglés,idiomas ocw, one culture world, OneCulture World, examen de inglés gratis"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos OCW</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/cursos.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- <link rel="stylesheet" href="landing.css"> -->
    <script
      src="https://kit.fontawesome.com/c14517e724.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/pics/favicon2.png  " type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@800;900&family=Oswald:wght@600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="background-color: #f4f8f8">
    <%- include('partials/menu') %>

    <section class="course-description-section1">
      <div id="private-lessons" class="course-description-card">
        <div class="course-description-items">
          <h2>Clases privadas</h2>
          <div class="course-feature">
            <i class="fas fa-clock"></i>
            <span>Clases en vivo de 55 minutos con docentes certificados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-laptop"></i>
            <span
              >Acceso a plataforma educativa con actividades interactivas. Test
              de nivelación gratuito.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-calendar-alt"></i>
            <span
              >Horarios flexibles con clases en vivo de Lunes a Viernes de 6:00
              a.m a 9:00 p.m.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-user-friends"></i>
            <span>Acompañamiento uno a uno basado en tus objetivos.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-dollar-sign"></i>
            <span>Sin pagos adicionales ni clausulas de permanencia.</span>
          </div>
        </div>
        <div class="course-pricing">
          <% Object.keys(pricing.privateLessons).forEach(plan => { const
          priceInfo = pricing.privateLessons[plan]; %>
          <div class="price-option">
            <span><%= plan.replace(/_/g, ' ') %> / Semana</span><br />
            <% if (priceInfo.discountPrice) { %>
            <span
              class="price original-price"
              style="text-decoration: line-through; color: red"
            >
              $<%= priceInfo.originalPrice.toLocaleString('es-CO') %> </span
            ><br />
            <span class="price discount-price">
              $<%= priceInfo.discountPrice.toLocaleString('es-CO') %> / Mes
            </span>
            <% } else { %>
            <span class="price"
              >$<%= priceInfo.originalPrice.toLocaleString('es-CO') %> /
              Mes</span
            >
            <% } %>
          </div>
          <% }); %>
        </div>
      </div>

      <div id="semi-personalized" class="course-description-card">
        <div class="course-description-items">
          <h2>Clases Semi-privadas</h2>
          <div class="course-feature">
            <i class="fas fa-clock"></i>
            <span>Clases en vivo de 55 minutos con docentes certificados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-laptop"></i>
            <span
              >Acceso a plataforma educativa con actividades interactivas. Test
              de nivelación gratuito.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-calendar-alt"></i>
            <span
              >Horarios flexibles con clases en vivo de 6:00 a.m a 9:00 p.m. los
              Lunes, Miercoles, y Viernes, o los Martes y los Jueves.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-user-friends"></i>
            <span
              >Acompañamiento semi-personalizada para ayudarte a alcanzar tus
              objectivos comunicativos en corto tiempo.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-dollar-sign"></i>
            <span>Sin pagos adicionales ni clausulas de permanencia.</span>
          </div>
        </div>
        <div class="course-pricing">
          <% Object.keys(pricing.semiPrivateLessons).forEach(plan => { const
          priceInfo = pricing.semiPrivateLessons[plan]; %>
          <div class="price-option">
            <span><%= plan.replace(/_/g, ' ') %> / Semana</span> <br />
            <% if (priceInfo.discountPrice) { %>
            <span
              class="price original-price"
              style="text-decoration: line-through; color: red"
            >
              $<%= priceInfo.originalPrice.toLocaleString('es-CO') %> </span
            ><br />
            <span class="price discount-price">
              $<%= priceInfo.discountPrice.toLocaleString('es-CO') %> / Mes
            </span>
            <% } else { %>
            <span class="price"
              >$<%= priceInfo.originalPrice.toLocaleString('es-CO') %> /
              Mes</span
            >
            <% } %>
          </div>
          <% }); %>
        </div>
      </div>

      <div id="english-for-business" class="course-description-card">
        <div class="course-description-items">
          <h2>Inglés para empresas</h2>
          <div class="course-feature">
            <i class="fas fa-clock"></i>
            <span>Clases en vivo de 55 minutos con docentes certificados.</span>
          </div>
          <div class="course-feature">
            <i class="fas fa-laptop"></i>
            <span
              >Acceso a plataforma educativa con actividades interactivas. Test
              de nivelación gratuito para sus empleados.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-calendar-alt"></i>
            <span
              >Horarios flexibles con clases en vivo de Lunes a Viernes de 6:00
              a.m a 9:00 p.m.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-user-friends"></i>
            <span
              >Máximo 8 estudiantes por grupo conversacional. Todos del mismo
              nivel.</span
            >
          </div>
          <div class="course-feature">
            <i class="fas fa-dollar-sign"></i>
            <span>Sin pagos adicionales ni clausulas de permanencia.</span>
          </div>
        </div>
        <div class="course-pricing">
          <div class="price-option">
            <a href="/#registration-form">
              <span>Completa el formulario</span><br />
              <span
                style="font-family: 'Oswald', sans-serif; color: #031017"
                class="price"
                >OBTEN TU DESCUENTO</span
              ></a
            >
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
  </body>
</html>
