<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/pics/favicon2.png  " type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Public+Sans:wght@600&family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 17px;
      }

      h1,
      h2,
      h3,
      h4 {
        font-family: "Oswald", sans-serif;
      }

      p {
        color: #031017;
      }

      a {
        color: #031017;
        text-decoration: none;
      }

      .main-container {
        margin: 2% 3%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 60vh;
      }

      .dashboard-header {
        display: flex;
        justify-content: space-between;
        padding: 2% 3%;
        background-color: #031017;
        color: #ffffff;
      }

      .certificate-download {
        background-color: #00d5dd;
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0;
        border: #ffffff solid 1px;
      }

      .certificate-download > img {
        transition: transform 0.3s ease;
        width: 200px;
      }

      .certificate-download > img:hover {
        transform: scale(0.9);
      }

      .platform-redirection-button {
        padding: 1rem;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
        margin: 0;
        border: 1px solid #ffffff;
        transition: border-color 0.3s, border-width 0.3s;
      }

      .platform-redirection-button > img {
        width: 200px;
        transition: transform 0.3s ease;
      }

      .platform-redirection-button > img:hover {
        transform: scale(0.9);
      }

      .platform-redirection-button:hover {
        border-color: #00d5dd;
        border-width: 1px;
        box-shadow: #031017 0px 0px 6px;
      }

      a.logout {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #ffffff;
        transition: transform 0.2s ease-in-out; /* Smooth transition over 0.2 seconds */
      }

      a.logout:hover {
        transform: scale(1.2);
      }

      .fa-right-from-bracket {
        margin: 0 10px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin: 1.5rem 0rem;
      }

      .pay-button {
        border: #ffffff 1px solid;
      }

      .pay-button:hover {
        border-color: #00d5dd;
        border-width: 1px;
        box-shadow: #031017 0px 0px 6px;
      }

      .pagar-mensualidad {
        width: 200px;
        margin: 1rem;
        transition: transform 0.3s ease;
      }

      .pagar-mensualidad:hover {
        transform: scale(0.9);
      }

      .no-certificate-btn {
        padding: 1rem;
        border: none;
        cursor: not-allowed;
      }

      .sin-certificado {
        width: 200px;
      }

      /* Media query for phone devices (adjust the breakpoint as needed) */
      @media screen and (max-width: 600px) {
        h1 {
          font-size: 1.2rem;
        }

        .main-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    </style>

    <script
      src="https://kit.fontawesome.com/c14517e724.js"
      crossorigin="anonymous"
    ></script>

    <script>
      async function generatePresignedUrl(key) {
        try {
          const response = await fetch(
            `/generatePresignedUrl?key=${encodeURIComponent(key)}`
          );
          const data = await response.json();
          if (data.url) {
            window.open(data.url, "_blank");
          } else {
            alert("Failed to generate presigned URL");
          }
        } catch (error) {
          console.error("Error generating presigned URL:", error);
          alert("Error generating presigned URL");
        }
      }
    </script>
  </head>
  <body>
    <div class="dashboard-header">
      <h1>Welcome, <%= fullName %>!</h1>
      <a class="logout" href="/logout"
        ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
      >
    </div>
    <div class="main-container">
      <% if (userDetails) { %>
      <!-- <p><strong>Email:</strong> <%= userDetails.email %></p> -->

      <% if (userDetails.paymentLink) { %>
      <a
        class="pay-button"
        href="<%= userDetails.paymentLink %>"
        target="_blank"
        ><img class="pagar-mensualidad" src="/svg/pay-button.svg" alt=""
      /></a>
      <% } else { %> You're subscribed to automatic payments. Your payments
      happen on the 2nd day of each month. <% } %>

      <!-- <p><strong>Discount:</strong> <%= userDetails.discount !== undefined ? userDetails.discount : "You don't have any discount" %></p> -->
      <!-- <p><strong>Certificates:</strong></p> -->
      <% if (userDetails.certificates && userDetails.certificates.length > 0) {
      %>
      <ul>
        <% userDetails.certificates.forEach(certificate => { %>
        <li>
          <button
            class="certificate-download"
            onclick="generatePresignedUrl('<%= certificate %>')"
          >
            <img src="/svg/certificado.svg" alt="Certificado" />
          </button>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <button class="no-certificate-btn" disabled>
        <img
          class="sin-certificado"
          src="/svg/sin-certificado.svg"
          alt="No_tienes_certificados"
        />
      </button>
      <!-- <p>You don't have any certificates yet</p> -->
      <% } %> <% } else { %>
      <p>No user details found.</p>
      <% } %>
      <a
        href="https://idiomas.onecultureworld.com/login"
        target="_blank"
        class="platform-redirection-button"
        ><img
          class="platform-icon"
          src="/svg/plataforma.svg"
          alt="Plataforma_educativa"
      /></a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
